@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
    <body>
        <h1>Minha página!</h1>
        <a href="/Home/Formulario">Formulario</a>
        <a href="/Home/Listar">Listar</a>
    </body>
</html>